
body{
    background-color: green;
    color: rgb(228, 208, 26);

}

.porquinho{
    border: 7px solid white;
    
}
.coelinho{
    border: 7px solid white;
    
}
.cachorro{
    border: 7px solid white;
    align-items: center;
}
.real{
    display: flex;
    flex-direction: column;
    color: rgb(228, 208, 26);
    width: fit-content;
    border: 3px solid white;
    padding: 10px 10px;
    background-color: green; 
    
    
}


@media (max-width: 640px){
    body{
        background-color: teal;
        color: tomato;
    }
    .porquinho{
        border: 7px solid pink;
        align-items: center;
    }
    .coelinho{
        border: 7px solid black;
        align-items: center;
    }
    .cachorro{
        border: 7px solid white;
        align-items: center;
    }
    .p{
        background-color: teal;
        color:tomato;
        border: 10px solid black;
        padding: 0px 5px 14px;
    
    }
    .real{
        display: flex;
        flex-direction: column;
        
        color: tomato;
        width: fit-content;
        border: 3px solid white;
        padding: 10px 10px;
        background-color: teal; 
        
        
    }
    }

@media (min-width: 768px){
    body{
        background-color: white;
        color: violet;
    }
    .porquinho{
        border: 7px solid pink;
        align-items: center;
    }
    .coelinho{
        border: 7px solid black;
        align-items: center;
    }
    .cachorro{
        border: 7px solid white;
        align-items: center;
    }
    .p{
        background-color: white;
        color:  violet;
        border: 10px solid black;
        padding: 0px 5px 14px;
    }
    .real{
        display: flex;
        flex-direction: row;
        color: violet;
        width: fit-content;
        border: 3px solid black;
        padding: 10px 10px;
        background-color: white; 
        
        
    }
};













    
    

